@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Login</h1>
<div id="datatable"></div>
@section Scripts {

    <script>

        axios.get('https://localhost:7118/api/Result').then(resp => {
            const list = resp.data.resultObject;
            console.log(list)
            $("#datatable").DataTable()
        });

    </script>
}