@using Model.RequestModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ConfirmEmailRequest
<h1>@Model.Email confirmed Successfully with @Model.Code!</h1>