    @* Generator : MvcHelper *@
@using Model.RequestModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LoginRequest
<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="Profile">Profile</a>
    </li>
    <li class="list-group-item">
        <a asp-action="ForgotPassword">ForgotPassword</a>
    </li>
    <li class="list-group-item">
        <a asp-action="Logout">Logout</a>
    </li>
</ul>