@using Model.ActionModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}
@model RegisterModel
<h1>@ViewData["Title"]</h1>

<div class="container">
    <form id="registerForm" method="post">
        <h2>Create a new account.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.InGameName" class="form-control" autocomplete="in-game-name" aria-required="true" />
            <label asp-for="Input.InGameName"></label>
            <span asp-validation-for="Input.InGameName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.UserName"></label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div><div class="form-floating">
            <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phone-number" aria-required="true" />
            <label asp-for="Input.PhoneNumber"></label>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" type="password" />
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" type="password" />
            <label asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    </form>
</div>
