@{
    var route = ViewContext.RouteData.Values;
    var controller = route["Controller"];
    var action = route["Action"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Caro Online</title>
    <link rel="icon" type="image/x-icon" href="~/logoCaro.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/@ViewData["Theme"]bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CaroMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logoCaro.png" style="width:50px;height:50px" alt="Caro Logo"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Index">Game</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <ol class="breadcrumb">
                @if (controller != null)
                {
                    <li class="breadcrumb-item"><a asp-action="Index">@controller</a></li>
                }
                @if (action != null && action.ToString() != "Index")
                {
                    <li class="breadcrumb-item">@action</li>
                }
            </ol>
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start bg-white text-muted">

        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Follow
                        </h6>
                        <p>
                            <a href=" https://discord.gg/JSxWJB92 " class="text-reset">Discord</a>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/owlvernyte" class="text-reset">Facebook</a>
                        </p>
                        <p>
                            <a href="https://www.youtube.com/channel/UCEG5sgFKieaUuHsu5VG-kBg" class="text-reset">Youtube</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="https://localhost:7224/Home/Privacy" class="text-reset">Rules</a>
                        </p>
                        <p>
                            <a asp-controller="Game" asp-action="Ranking" class="text-reset">Ranking</a>
                        </p>
                        <p>
                            <a asp-controller="Game" asp-action="History" class="text-reset">History</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Support</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p>
                            Đại Học Công Nghệ TP.HCM (Hutech)
                        </p>
                        <p>
                            20DTHD3
                        </p>
                        <p>
                            owlvernyte@gmail.com
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center">
            <span>
                &copy; 2022 - Caro Online - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Use Libraries-->
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
