@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Model.ResponseModels
@{
    ViewData["Title"] = "About Us";
}
<div class="bg-light">
    <div class="container py-5">
        <div class="row  h-100 align-items-center py-5">
            <h1 class="text-center display-1">ABOUT US</h1>
        </div>
    </div>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="card-group">
    <div class="card">
        <h5 class="card-header text-center">Nguyen Quoc Kha</h5>
        <img class="card-img-top" src="https://images-ext-1.discordapp.net/external/vVF_9qs0nGy_MkDIKq22H4dZC0UItooKSLQA9jg53w0/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/686462089484566534/48dc67837bb5a8e0081f20b7b9e35ce8.png?width=683&height=683" alt="Card image cap">
        <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">

            <p class="card-title">2011253052</p>
            <p>Member</p>
            <a href="https://www.facebook.com/nguyenquockha8112" class="btn btn-primary">More</a>

        </div>
    </div>
    <div class="card">

        <h5 class="card-header text-center">Truong Thuc Van</h5>
        <img class="card-img-top" src="https://images-ext-2.discordapp.net/external/Daiq6mh0ckt0ZGQUvLDdWrgfiiM5HX5A-AWlE1DTsRU/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/776473766308872233/7106c4c24e14c1f5196728a97a0ff404.png" alt="Card image cap">
        <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
            <p class="card-title">2080600803</p>
            <p>Leader</p>
            <a href="https://www.facebook.com/misa.truong.16" class="btn btn-primary">More</a>

        </div>

    </div>
    <div class="card">

        <h5 class="card-header text-center">Nguyen Hong Thai</h5>
        <img class="card-img-top" src="https://images-ext-1.discordapp.net/external/NMt5hriFiFJ4cg9gfAb4O5ySJgc82uvEXKTiyDmC8Yk/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/441438270061150208/ecd5d875fee1381fd2c3ae7164dfbe60.png?width=683&height=683" alt="Card image cap">
        <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
            <p class="card-title">2080600914</p>
            <p>Co-leader</p>
            <a href="https://www.facebook.com/thai.nguyenhong.587606" class="btn btn-primary">More</a>

        </div>

    </div>
    <div class="card">

        <h5 class="card-header text-center">Bui Thanh Dat</h5>
        <img class="card-img-top" src="https://images-ext-1.discordapp.net/external/rB_ah2j0ICXHVHlFGMw8_dobwk_UWsL9LGKxOP4KPmY/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/759995173651480586/6372b7b7f4ba69de71a4c0e78cffe535.png?width=683&height=683" alt="Card image cap">
        <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
            <p class="card-title">2011063152</p>
            <p>Member</p>
            <a href="https://www.facebook.com/buidat.shiro" class="btn btn-primary">More</a>

        </div>

    </div>


</div>