@using Model.GameModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Stone
<a class="col-1 btn btn-outline-dark w-auto caro-stone" row="@Model.Location.X" col="@Model.Location.Y">&nbsp;&nbsp;&nbsp;</a>

