@using Model.GameModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Play";
}
@model Model.ActionModels.PlayModel
<div class="container text-center">
    <h1>@Model.Room.RoomName</h1>
    <div class="row">
        @foreach (var user in Model.Room.GameUsers)
        {
            <div class="col">
                @user.UserName
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="row" id="user-list">
    </div>
    @for (int row = 0; row < Model.Board.RowCount; row++)
    {
        <div class="row d-flex justify-content-xl-center justify-content-xxl-center flex-nowrap">
            @for (int col = 0; col < Model.Board.ColumnCount; col++)
            {
                <partial name="_Stone" model="new Stone { Location = new System.Drawing.Point(row, col) }"/>
            }
        </div>
    }
</div>
@section Scripts {
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script>
        const userList = document.getElementById("user-list");
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/game")
            .configureLogging(signalR.LogLevel.Information)
            .build();
        connection.start()
            .then(() => console.log("Connected!"))
            .catch(console.error);
    </script>
}